{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Search for recipe</title>
    {% block extrahead %}
        <link href="{% static 'top.css' %}" rel="stylesheet"> 
    {% endblock %}
</head>
<body>
    <img border="0" src={{image}} width="128" height="128" alt="レシピ写真">
    <p><a href={{url}}>{{name}}</a></p>
    <p>{{description}}</p>
</body>
</html>