{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Search for recipe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery(function($){
            $(function(){
                $('.colorGroup').on('click', function() {
                    if ($(this).prop('checked')){
                        $('.colorGroup').prop('checked', false);
                        $(this).prop('checked', true);
                    }
                });
            });
        });
        </script>
    {% block extrahead %}
        <link href="{% static 'top.css' %}" rel="stylesheet"> 
    {% endblock %}
</head>
<body>
    <form action="cgi-bin/abc.cgi" method="post">
        <div style="width:200px;">
            <div class="contentBlock">
                
                <h3>当てはまる項目を選んでください</h3>
                <div>
                <p><input type="checkbox" name="r" class="colorGroup" value="">{{r1}}</p>
                <p><input type="checkbox" name="r" class="colorGroup" value="">{{r2}}</p>
                <p><input type="checkbox" name="r" class="colorGroup" value="">{{r3}}</p>
                <p><input type="checkbox" name="r" class="colorGroup" value="">{{r4}}</p>
                </div>
            </div>
        </div>
        <p>
            
        </p>
        </form>
    <form action="{% url  'recipe' %}">
            <input id = 'next' type="submit" value="料理を表示"/>
    </form>    
</body>
</html>

