{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Search for recipe</title>
    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'top.css' %}"> 
    {% endblock %}
</head>

<body>
    <script type = "text/javascript"  src="{% static 'top.js' %}"></script>

    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            <h2>Search for recipe へようこそ、ここでは材料の画像から料理を提供いたします</h2>
            <h3>材料の画像を選択してください</h3>
            画像を選択<input type="file" id="myImage" accept="image/*">

            
            <br>
        </form>
    </div>
    
    <form>
        <input type = "button" id = "next" value="決定" onclick="next()"/>
    </form>

        
    <div class="preview" />

</body>
</html>