body {
  background: linear-gradient(-45deg, rgba(176, 89, 34, 0.5), rgba(147, 150, 150, 0.5)),url("https://pictkan.com/uploads/converted/15/06/18/4017237276-kitchen-515388-p4m-1920x1280-MM-100.jpg");
  /*background-color: aqua;*/
  display:flex;
  width: 95%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
input#next {
    display: inline-block;
    width: 180px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 4px;
    background-image: linear-gradient(-90deg, #FF006E, #FFD500);
    transition: .5s; 
    background-size: 200%;
}
input#next:hover {
  /*-webkit-transform: rotate(10deg);
  transform: rotate(10deg);*/
  background-position: right center;
}
h3{
   font-size: 15pt;
  }
h2{
  font-size: 20pt;
  font-family: fantasy;
}




